<footer class="footerbar">
    <div class="container pb20">
        <div class="row grid-mobile-12">
            <div class="col-xs-6 col-md-3">
                <h4 class="h4 h3--border text-uppercase">l'Océan Indien</h4>
                <ul class="list-unstyled">
                    <li><a class="navbar-link" href="bateaux.html">À la Réunion</a></li>
                    <li><a class="navbar-link" href="bateaux.html">À Madagascar</a></li>
                    <li><a class="navbar-link" href="bateaux.html">À l'ile Maurice</a></li>
                    <li><a class="navbar-link" href="bateaux.html">Aux Seychelles</a></li>
                    <li><a class="navbar-link" href="bateaux.html">À Mayotte</a></li>
                    <li><a class="navbar-link" href="bateaux.html">Hors Océan Indien</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h4 class="h4 h3--border text-uppercase">Bateaux d'occasion</h4>
                <ul class="list-unstyled">
                    <li><a class="navbar-link" href="bateaux.html">Monocoque d'occasion</a></li>
                    <li><a class="navbar-link" href="bateaux.html">Bateau multicoques d'occasion</a></li>
                    <li><a class="navbar-link" href="bateaux.html">Voile légère d'occasion</a></li>
                    <li><a class="navbar-link" href="bateaux.html">Bateau de pêche</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h4 class="h4 h3--border text-uppercase">Vendre son bateau</h4>
                <ul class="list-unstyled">
                    <li><a class="navbar-link" href="ajouter-bateau.html">Passer son permis bateau en France</a></li>
                    <li><a class="navbar-link" href="ajouter-bateau.html">Comment bien vendre son bateau</a></li>
                    <li><a class="btn btn-warning mt20 mb20" href="ajouter-bateau.html">Nous contacter pour<br>vendre votre bateau</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="vcard">
                    <a class="mb20" href="index.html" title="My Boat">
                        <img class="img-responsive" src="assets/images/logo-myboat.svg" alt="My Boat" width="220" height="66">
                    </a>
                    <strong class="inbl mb10">Contactez-nous sur WhatsApp</strong><br>
                    <span class="tel inbl mb10">
                        <span class="type">Ghislain PAILLOT (Run.)</span>:<br>
                        <span class="value"><small>+262</small> <b>692 706 610</b></span>
                    </span><br>
                    <span class="tel inbl mb10">
                        <span class="type">Quentin COQUEMA (Mada.)</span>:<br>
                        <span class="value"><small>+262</small> <b>693 134 587</b></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <a href="plan-du-site.html" class="navbar-link">Plan du site</a>&nbsp;&nbsp; - &nbsp;&nbsp;
        <a href="mentionslegales.html" class="navbar-link">Mentions légales</a>&nbsp;&nbsp; - &nbsp;&nbsp;
        © 2025 My Boat, tous droit réservés.
    </div>
</footer> 